# Android
# Build your Android project with Gradle.
# Add steps that test, sign, and distribute the APK, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/android


trigger:
- master

pool:
  vmImage: 'macos-latest'

steps:

- task: CordovaBuild@1
  inputs:
    platform: 'android'
    configuration: 'debug'
    cordovaVersion: '7.1.0'
    outputPattern: 'bin'
